<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Neogym</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{ url_for('home') }}">
            <span>
              Neogym
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{{ url_for('why') }}"> Why us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('trainer') }}"> Trainers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('contact') }}"> Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- Updating Image Paths -->
    <img src="{{ url_for('static', filename='images/u-1.png') }}" alt="Quality Equipment">
    <img src="{{ url_for('static', filename='images/u-2.png') }}" alt="Healthy Diet Plan">
    <img src="{{ url_for('static', filename='images/u-3.png') }}" alt="Sport Training">
    <img src="{{ url_for('static', filename='images/u-4.png') }}" alt="Nutrition">
    <img src="{{ url_for('static', filename='images/t1.jpg') }}" alt="Trainer 1">
    <img src="{{ url_for('static', filename='images/t2.jpg') }}" alt="Trainer 2">
    <img src="{{ url_for('static', filename='images/t3.jpg') }}" alt="Trainer 3">
    <img src="{{ url_for('static', filename='images/contact-img.jpg') }}" alt="Contact Image">

    <!-- Updating Script Paths -->
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>
